USE [master]
GO
/****** Object:  Database [TimeClockIn]    Script Date: 18-Apr-16 8:40:23 AM ******/
CREATE DATABASE [TimeClockIn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TimeClockIn', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.DEESQLEXPRESS\MSSQL\DATA\TimeClockIn.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TimeClockIn_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.DEESQLEXPRESS\MSSQL\DATA\TimeClockIn_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TimeClockIn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TimeClockIn]
GO
/****** Object:  Table [dbo].[EmployeeClockIn]    Script Date: 18-Apr-16 8:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeClockIn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeUserId] [nvarchar](50) NOT NULL,
	[LocationName] [nvarchar](50) NOT NULL,
	[ClockInDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_EmployeeClockIns] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeLocationDetails]    Script Date: 18-Apr-16 8:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeLocationDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeClockInId] [int] NOT NULL,
	[Latitude] [decimal](12, 7) NOT NULL,
	[Longitude] [decimal](12, 7) NOT NULL,
	[Address] [nvarchar](150) NOT NULL,
	[LocationName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EmployeeLocationDetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Location]    Script Date: 18-Apr-16 8:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](50) NOT NULL,
	[Latitude] [decimal](12, 7) NOT NULL,
	[Longitude] [decimal](12, 7) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
