USE [master]

/****** Object:  Database [TimeClockIn]    Script Date: 18-Apr-16 8:40:23 AM ******/
CREATE DATABASE [TimeClockIn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TimeClockIn', FILENAME = N'TimeClockIn.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TimeClockIn_log', FILENAME = N'TimeClockIn_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)

ALTER DATABASE [TimeClockIn] SET COMPATIBILITY_LEVEL = 120

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TimeClockIn].[dbo].[sp_fulltext_database] @action = 'enable'
end

ALTER DATABASE [TimeClockIn] SET ANSI_NULL_DEFAULT OFF 

ALTER DATABASE [TimeClockIn] SET ANSI_NULLS OFF 

ALTER DATABASE [TimeClockIn] SET ANSI_PADDING OFF 

ALTER DATABASE [TimeClockIn] SET ANSI_WARNINGS OFF 

ALTER DATABASE [TimeClockIn] SET ARITHABORT OFF 

ALTER DATABASE [TimeClockIn] SET AUTO_CLOSE OFF 

ALTER DATABASE [TimeClockIn] SET AUTO_SHRINK OFF 

ALTER DATABASE [TimeClockIn] SET AUTO_UPDATE_STATISTICS ON 

ALTER DATABASE [TimeClockIn] SET CURSOR_CLOSE_ON_COMMIT OFF 

ALTER DATABASE [TimeClockIn] SET CURSOR_DEFAULT  GLOBAL 

ALTER DATABASE [TimeClockIn] SET CONCAT_NULL_YIELDS_NULL OFF 

ALTER DATABASE [TimeClockIn] SET NUMERIC_ROUNDABORT OFF 

ALTER DATABASE [TimeClockIn] SET QUOTED_IDENTIFIER OFF 

ALTER DATABASE [TimeClockIn] SET RECURSIVE_TRIGGERS OFF 

ALTER DATABASE [TimeClockIn] SET  DISABLE_BROKER 

ALTER DATABASE [TimeClockIn] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 

ALTER DATABASE [TimeClockIn] SET DATE_CORRELATION_OPTIMIZATION OFF 

ALTER DATABASE [TimeClockIn] SET TRUSTWORTHY OFF 

ALTER DATABASE [TimeClockIn] SET ALLOW_SNAPSHOT_ISOLATION OFF 

ALTER DATABASE [TimeClockIn] SET PARAMETERIZATION SIMPLE 

ALTER DATABASE [TimeClockIn] SET READ_COMMITTED_SNAPSHOT OFF 

ALTER DATABASE [TimeClockIn] SET HONOR_BROKER_PRIORITY OFF 

ALTER DATABASE [TimeClockIn] SET RECOVERY FULL 

ALTER DATABASE [TimeClockIn] SET  MULTI_USER 

ALTER DATABASE [TimeClockIn] SET PAGE_VERIFY CHECKSUM  

ALTER DATABASE [TimeClockIn] SET DB_CHAINING OFF 

ALTER DATABASE [TimeClockIn] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 

ALTER DATABASE [TimeClockIn] SET TARGET_RECOVERY_TIME = 0 SECONDS 

ALTER DATABASE [TimeClockIn] SET DELAYED_DURABILITY = DISABLED 

USE [TimeClockIn]

/****** Object:  Table [dbo].[EmployeeClockIn]    Script Date: 18-Apr-16 8:40:23 AM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[EmployeeClockIn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeUserId] [nvarchar](50) NOT NULL,
	[LocationName] [nvarchar](50) NOT NULL,
	[ClockInDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_EmployeeClockIns] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


/****** Object:  Table [dbo].[EmployeeLocationDetails]    Script Date: 18-Apr-16 8:40:23 AM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[EmployeeLocationDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeClockInId] [int] NOT NULL,
	[Latitude] [decimal](12, 7) NOT NULL,
	[Longitude] [decimal](12, 7) NOT NULL,
	[Address] [nvarchar](150) NOT NULL,
	[LocationName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EmployeeLocationDetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


/****** Object:  Table [dbo].[Location]    Script Date: 18-Apr-16 8:40:23 AM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Location](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](50) NOT NULL,
	[Latitude] [decimal](12, 7) NOT NULL,
	[Longitude] [decimal](12, 7) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


USE [master]

ALTER DATABASE [TimeClockIn] SET  READ_WRITE 

