@{
    ViewBag.Title = "Home Page";
}
<div id="body">

    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Welcome</h2>
            </hgroup>
            <p>
                Documentation techniques

            </p>
        </div>
    </section>

    <section class="content-wrapper main-content clear-fix">
       <p>Content Here</p> 
   </section>

</div>

